# Soketi environment configuration

SOKETI_DEBUG=true
SOKETI_APP_MANAGER_DRIVER=postgres

SOKETI_DB_POSTGRES_HOST=
SOKETI_DB_POSTGRES_PORT=
SOKETI_DB_POSTGRES_USERNAME=
SOKETI_DB_POSTGRES_PASSWORD=
SOKETI_DB_POSTGRES_DATABASE=
SOKETI_APP_MANAGER_POSTGRES_TABLE=
SOKETI_APP_MANAGER_POSTGRES_VERSION=
SOKETI_APP_MANAGER_CACHE_ENABLED=true
SOKETI_APP_MANAGER_CACHE_TTL=-1

# Rate limiter
SOKETI_RATE_LIMITER_DRIVER=local

# Limits
SOKETI_HTTP_MAX_REQUEST_SIZE=100
SOKETI_EVENT_MAX_CHANNELS_AT_ONCE=100
SOKETI_EVENT_MAX_NAME_LENGTH=200
SOKETI_EVENT_MAX_SIZE_IN_KB=100
SOKETI_EVENT_MAX_BATCH_SIZE=10
SOKETI_CHANNEL_MAX_NAME_LENGTH=100
SOKETI_PRESENCE_MAX_MEMBER_SIZE=10
SOKETI_PRESENCE_MAX_MEMBERS=100

# Webhooks
SOKETI_WEBHOOKS_BATCHING=
SOKETI_WEBHOOKS_BATCHING_DURATION=

# Default APP
SOKETI_DEFAULT_APP_ID=
SOKETI_DEFAULT_APP_KEY=
SOKETI_DEFAULT_APP_SECRET=
SOKETI_APP_KEY=
SOKETI_APP_ID=
SOKETI_APP_SECRET=

# Server
SOKETI_HOST=
SOKETI_PORT=
SOKETI_SHUTDOWN_GRACE_PERIOD=
